*{
    border: 1px solid rgb(238, 71, 112);
}

body{
    color: hotpink;
    border: 1px solid blueviolet;
}

/*No caso de dois seletores iguais o ultimo sempre será executado EX:*/

p{
    color: black;
}

p{
    color: red;
}

/*Para corrigir isso é possivel utilizar a palavra !important para definir prioridade no codigo*/

/*Seletores mais especificos tem precedencia sobre as regras genericas*/

/*id é mais especifico que class então as alterações seguiram esta ordem*/

