body{
    font-family:Arial, Helvetica, sans-serif;
    background: #c2c2c2;
}

#container{
    width: 720px;
    margin: 0 auto;
    background: white;
}

#marca{
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

#conteudo{
    width: 520px;
    float: right;
}

#principal{
    width: 320px;
    float: left;
}

#second{
    width: 180px;
    float: right;
    background: #d1d1d1;
}

#second h2, #second p{
    padding: 20px;
}

#navegacao{
    width: 180px;
    float: left;
    background: #d1d1d1;
}

#rodape{
    clear: both;
    background: gray;
    padding: 5px;
}

#navegacao ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#navegacao ul a{
    width: 180px;
    text-decoration: none;
    display: block;
    color: black;
    text-indent: 40px; /*Funciona igaul ao padding*/
    line-height: 40px; /*Defini tamanho da linha do texto (onde começa)*/
    background: orange
}

#navegacao a:hover{
    background: darkorange;
    color: white;
}